XML DBMS/ConsoleDBMS/a.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
 xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="a">
<xs:complexType> 
 <xs:sequence> 
 <xs:element name="Element" maxOccurs="unbounded"> 
 <xs:complexType> 
 <xs:sequence> 
<xs:element type="xs:string" name="firstname"/>
<xs:element type="xs:string" name="lastname"/>
<xs:element type="xs:int" name="age"/>
</xs:sequence> 
 </xs:complexType> 
 </xs:element> 
 </xs:sequence> 
 </xs:complexType> 
 </xs:element> 
 </xs:schema> 
